* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 25px;
}

.calculator {
  border-radius: 50px;
  padding: 20px;
  width: 570px;
  height: 1220px;
  background: rgb(0, 0, 0);
}

.calculator-top {
  padding: 0 20px;
}
