* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 10px;
}

.calculator__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  position: relative;
  border-radius: 5rem;
  padding: 2rem;
  margin: 0 auto;
  width: 40rem;
  height: 80rem;
  background-color: rgb(0, 0, 0);
  border: 0.5rem solid #1e1f26;
}

.calculator__top {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 17rem;
  user-select: none;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 2rem 2rem;
  height: 11rem;
  font-size: 6rem;
  font-weight: 300;
}
.buttons-container {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: repeat(5, 1fr);
  width: 99%;
  margin-left: 5px;
  margin-right: 5px;
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  font-size: 3.5rem;
  background-color: #333;
  transition: filter 0.2s linear;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.button__func {
  color: black;
  background-color: #a5a5a5;
}

.button__operator,
.button__equal {
  background-color: #f1a33c;
}

#zero {
  justify-content: flex-start;
  border-radius: 5.5rem;
  width: 17.5rem;
  grid-column: span 2;
  padding-left: 4rem;
}

.bottom {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.4rem;
  width: 20rem;
  height: 0.5rem;
  background-color: #fff;
}

.clock {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 540px) {
  .calculator {
    width: 34rem;
    height: 68rem;
    border-radius: 4.2rem;
  }

  .calculator__top {
    padding: 0 0.3rem;
  }

  .clock {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .status-bar {
    width: 10rem;
    height: 1.5rem;
  }

  .status-bar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .display {
    height: 5rem;
    font-size: 5rem;
  }

  .calculator__top {
    height: 39%;
  }

  .buttons-container {
    grid-template-columns: repeat(4, 7rem);
    grid-gap: 0.55rem;
  }

  .button {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.6rem;
  }

  #zero {
    width: 13.8rem;
  }

  .bottom {
    height: 0.35rem;
    width: 18rem;
    bottom: 0.7rem;
  }
}

@media (max-width: 420px) {
  .calculator {
    width: 28rem;
    height: 58rem;
  }

  .calculator__top {
    height: 40%;
  }

  .display {
    font-size: 3.1rem;
    margin-right: 0;
  }

  .buttons-container {
    grid-template-columns: repeat(4, 5.6rem);
  }

  .button {
    width: 4.3rem;
    height: 4.3rem;
    font-size: 2rem;
  }

  #zero {
    width: 11.3rem;
  }
}
